body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: #434455;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.header-logo {
  color: var(--NAVY-BLUE, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.blue-logo {
  color: var(--IRIS, #2e2f42);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-items {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

address {
  font-style: normal;
}

.address-items {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.intro {
  background: var(--NAVY-BLUE, #2e2f42);
}

.intro-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.intro-btn {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
}

.sec1 {
  background: #fff;
}

.sec1-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.sec1-desc {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.team {
  background: var(--CLOUD, #f4f4fd);
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-item {
  background: var(--WHITE, #fff);
}

.team-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-desc {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.portfolio-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.portfolio-desc {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-logo {
  color: var(--CLOUD, #f4f4fd);
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-desc {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.32px;
}

.nav-studio:hover,
:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.32px;
}

.nav-portfolio:hover,
:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.32px;
}

.nav-contacts:hover,
:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.32px;
}

.address-mail:hover,
:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.32px;
}

.address-num:hover,
:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.32px;
}

.intro-btn:hover,
:focus {
  cursor: pointer;
  background: var(--OCEAN, #404bbf);
}
